<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K-Study Navigator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">Your K-study Senior</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/universities">Universities</a></li>
            <li><a href="/recommendation">Recommendation</a></li>
            <li><a href="/qna">Q&A</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>